*{
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 'poppins'
    ;
}



.hero{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://png.pngtree.com/background/20230611/original/pngtree-photographer-s-camera-with-a-few-photos-picture-image_3170566.jpg');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fa-camera{
    color: #796528;
    font-size: 47px;
}

h1{
    font-size: 30px;
    margin-bottom: 15px;
}

p{
    font-size: 17px;
}